@define-color background #0f0f14;
@define-color foreground #e8e6e3;
@define-color color0 #0f0f14;
@define-color color1 #d4878f;
@define-color color2 #a3b899;
@define-color color3 #d4c087;
@define-color color4 #8fa3c4;
@define-color color5 #b4a7d6;
@define-color color6 #8fc4bc;
@define-color color7 #c4c1bd;
@define-color color8 #3d3d47;
@define-color color9 #e0a0a8;
@define-color color10 #b8ccab;
@define-color color11 #e0d4a0;
@define-color color12 #a8bcd8;
@define-color color13 #c9bce6;
@define-color color14 #a8d8ce;
@define-color color15 #e8e6e3;
