@define-color background #0d1117;
@define-color foreground #f0f6fc;
@define-color color0 #0d1117;
@define-color color1 #ff7b72;
@define-color color2 #3fb950;
@define-color color3 #d29922;
@define-color color4 #58a6ff;
@define-color color5 #bc8cff;
@define-color color6 #39c5cf;
@define-color color7 #b1bac4;
@define-color color8 #484f58;
@define-color color9 #ffa198;
@define-color color10 #56d364;
@define-color color11 #e3b341;
@define-color color12 #79c0ff;
@define-color color13 #d2a8ff;
@define-color color14 #56d4dd;
@define-color color15 #f0f6fc;